

.pt-6 {
    padding-top: 4rem;
}

.pt-7 {
    padding-top: 5rem;
}

.pt-8 {
    padding-top: 7rem;
}

.pt-9 {
    padding-top: 8.5rem;
}

.pt-10 {
    padding-top: 10rem;
}

.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 7rem;
}

.mt-9 {
    margin-top: 8.5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.gap-6 {
    row-gap: 4rem;
}

.gap-7 {
    row-gap: 5rem;
}

.gap-8 {
    row-gap: 7rem;
}

.gap-9 {
    row-gap: 8.5rem;
}

.gap-10 {
    row-gap: 10rem;
}