* {
    box-sizing: border-box !important;
}

body {
    font-family: "Inter", sans-serif;
}



.apresentacao {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url("../img/bg-1.jpg"), lightgray 50% / cover no-repeat;;
    background-repeat: no-repeat;
    background-size: cover;
}

header > img {
    height: 3rem !important;
}

.seletores > button {
    width: 4rem;
    height: calc(1rem / 3);
    background: var(--bs-emphasis-color);
}

.seletores > button#seletor-1 {
    background: #FDCB1A;
}

.project-description {
    background: rgba(0, 0, 0, 0.45);
    width: calc(100% - var(--bs-gutter-x));
}
