:root {
    --yellow: #FDCB1A;
    --white: #FFFFFF;
    --black: #0F0F0F;
    --grey: #2B2A2A;
}

*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

body{
    background-color: #0F0F0F;
}

figure{
    margin: 0;
}

#bg{
    background-image: url(/site-do-meg/assets/img/bg-equipe.jpeg);
}

#im{
    width: 50px;
    border-radius: 50%;
}

#im:nth-last-child(){
    border: #FDCB1A 2px solid;
}

#d{
    position: relative;
}

#d::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 1px;
    background-color: #FDCB1A;
    top: 50%;
    left: 110%;
    transform: translate(0, -50%);
}

#st{
    width: 16px;
    height: 9px;
}

#text{
    position: relative;
    z-index: 0;
}

#text::after{
    content: '';
    position: absolute;
    display: inline;
    background-image: url(/site-do-meg/assets/img/itadori.png);
    background-size: 203px 295px;
    width: 203px;
    height: 295px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: -1;
}